# Taken from http://research.microsoft.com/pubs/226641/CNTKBook-20160121.pdf

command=sdmMnistTrain

sdmMnistTrain=[
  action="train"
  NDLNetworkBuilder=[
    networkDescription="config/sample.ndl"
    run=ndlMacroUse
    ]

   # SGD is the only learner type currently implemented
   # "The behavior of the SGD algorithm is controlled by the SGD block of the options."
   SGD=[
    modelPath="model/mnist.cn"
    learningRatesPerMB=0.001
    minibatchSize=32
    epochSize=60000
    maxEpochs=50
    ]  
  reader=[
    readerType="UCIFastReader"
    file="data/mnist/mnist_train.txt"
    features=[
      dim=784
      start=1
      ]
    labels=[
      dim=1
      start=0
      labelDim=10
      labelMappingFile="data/mnist/mnistlabels.txt"
      ]
    ]
  ]
